<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Adrenaline</string>
	<key>CFBundleExecutable</key>
	<string>Adrenaline</string>
	<key>CFBundleIconFile</key>
	<string>Adrenaline</string>
	<key>CFBundleIdentifier</key>
	<string>com.tonioriol.adrenaline</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Adrenaline</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.2</string>
	<key>CFBundleVersion</key>
	<string>0.2.2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.tonioriol.adrenaline.helper</key>
		<string>anchor apple generic and identifier "com.tonioriol.adrenaline.helper" and certificate leaf[subject.OU] = "B65K228Z97" and certificate leaf[field.1.2.840.113635.100.6.1.13] exists</string>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://tonioriol.github.io/adrenaline/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>LqUZF4dqbYxjqC25RGacWalEo+7/cBs9+T+J+wmOMQ4=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
