<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIdentifier</key>
    <string>com.tr0n.Cocaine.Helper</string>
    <key>CFBundleName</key>
    <string>CocaineHelper</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>SMAuthorizedClients</key>
    <array>
        <string>anchor apple generic and identifier "com.tr0n.Cocaine" and certificate leaf[subject.OU] = "A79T83GM42"</string>
    </array>
</dict>
</plist>
